/*
	RESET
*/
*{
	border:0;
	margin:0;
	padding:0;
}
.clear{
	clear:both;	/*disallows floating elements on both left and right sides of an element*/
}


/*
    STRUCTURE
*/
body{
	background:#fff;/*white*/
	font:100%/1.1 Tahoma, Geneva, sans-serif; /* font-style font-variant font-weight font-size/line-height font-family*/
}
#container{
	margin:0 auto;/*top/bottom have no margin, left and right auto centers.*/
	position:relative;
	width:100%;
}
/*Style of our horizontal row breaks.*/
hr{
	background:#bbb;
	clear:both;
	display:block;
	height:2px;
	margin:20px 0;/*top/bottom are 20px, left/right are 0*/
}


/*
    TYPOGRAPHY
*/
a{
	text-decoration:none;
	color:#333;
	font-size:1.8em;
}
h1{
	font-size:4em;
	padding-top:20px;
	margin:0 0 20px 0;
}
h2{
	font-size:2em;
	margin:10px 0 10px 0;
}
p{
	font-size:1.5em;
}
.bigButton{
	background:#ccd;
	border:4px solid #cbd;
	
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	
	box-shadow:0 1px 3px #999;
	-moz-box-shadow:0 1px 3px #999;
	-webkit-box-shadow:0 1px 3px #999;
	
	color:#556;
	cursor:pointer;
	font:bold;
	
	padding:27px 100px;
	text-shadow:0 1px 1px #666;
}
.bigButton:hover{
	border:4px solid #a9a;
}
.red{
	background:red;
	color:white;
}