*{margin:0;padding:0;border:0;}
.clear{clear:both;}
body{font:2em/1.1 Tahoma, Geneva, sans-serif;background:#fff;}
#container{width:100%;margin:0 auto;position:relative;}
hr{height:1px;background:#bbb;clear:both;margin:20px 0;display:block;}